.recipe {
    grid-row: 2/3;
    grid-column: 1/-1;
    height: 100%;
    max-width: 114rem;
    overflow: hidden;
    padding: 4rem 10rem;
    position: relative;
    margin: 0 auto;

    &--backBtn {
        font-size: 1.5rem;
        color: var(--color-orange);
        padding: .5rem;
        border: 1px solid black;
        border-radius: .5rem;
        box-shadow: 0 .2rem .1rem black;
        transition: all .3s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(+.2rem);
            box-shadow: 0 0rem .1rem black;
        }

        &:hover,
        &:focus {
            background-color: #D6D7DF;
        }
    }

    &--header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--image {
        margin-top: 3rem;
        width: 50rem;
        height: 30rem;
        border-radius: .5rem;
        overflow: hidden;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &--title {
        width: 100%;
        padding: 1rem 3rem;
        text-align: center;
        text-transform: capitalize;

        &-title {
            font-size: 4rem;
            font-weight: 800;
            color: #010205;
            font-family: 'Josefin Sans', sans-serif;
        }

        &-author {
            margin-top: 2rem;
            color: #2F2F31;
            font-weight: 600;
            font-size: 1.3rem;

            & span {
                margin-left: 1rem;
                font-size: 2rem;
                color: var(--color-orange);
            }
        }
    }

    &--options {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & button {
            font-size: 1.6rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            border: 1px solid black;
            border-radius: 1rem;
            box-shadow: 0 .2rem .1rem black;
            transition: all .3s;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:focus {
                outline: none;
            }

            &:active {
                transform: translateY(+.2rem);
                box-shadow: 0 0rem .1rem black;
            }

            &:hover,
            &:focus {
                background-color: #D6D7DF;
            }

            svg {
                margin: 0 1rem;
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &--body {
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--summary {
        text-align: center;

        padding: 3rem;
        font-size: 2.4rem;
    }

    &--stats {
        padding: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &-details {
            max-width: 50%;
            font-size: 2.4rem;

            & .text {
                font-weight: 400;
                display: flex;
                align-items: flex-start;
            }

            & .bold {
                margin-left: 3rem;
                font-weight: bold;
                display: flex;
            }
        }

        &-insights {
            max-width: 50%;

            &--top {
                background-color: #FFF3F4;
                margin: 1rem 0;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 4px solid var(--color-orange);
                border-radius: 1rem;
            }
        }

        &-source {
            text-align: center;
            padding: 1rem;
            border: 1px solid black;
            border-radius: 1rem;
            box-shadow: 0 .2rem .1rem black;
            transition: all .3s;
            transform: translateY(0rem);

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:focus {
                outline: none;
            }

            &:active {
                transform: translateY(+.2rem);
                box-shadow: 0 0rem .1rem black;
            }

            &:hover,
            &:focus {
                background-color: #D6D7DF;
            }

            &>a {
                font-size: 1.6rem;
                text-decoration: none;
                color: black;

                &::after {
                    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
                    margin: 0 3px 0 5px;
                }
            }
        }
    }

    &--svg {
        width: 2.4rem;
        height: 2.4rem;

        &-coin {
            fill: #FFDF00;

            &:not(:first-child) {
                margin-left: -1rem;
            }
        }

        &-spoon,
        &-heart,
        &-cart {
            fill: var(--color-orange);
        }

        &-heartFilled {
            fill: #FF0000;
        }
    }
}


.tooltip-para {
    position: relative;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        width: 12rem;
        background-color: white;
        color: black;
        font-size: 1.5rem;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -6rem;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}

.recipe--svg-print {
    fill: var(--color-orange);
}


.recipe--ingredients-addToBasket {
    margin: 3rem auto;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 .2rem .1rem black;
    transition: all .3s;

    &:not(:last-child) {
        margin-right: 2rem;
    }

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(+.2rem);
        box-shadow: 0 0rem .1rem black;
    }

    &:hover,
    &:focus {
        background-color: #D6D7DF;
    }

    svg {
        margin: 0 1rem;
        width: 2rem;
        height: 2rem;
    }
}