@import "../../variables.scss";

.recipe {
    grid-row: 2/3;
    grid-column: 1/-1;
    height: 100%;
    width: 100%;
    background-color: $color-primary;
    color: $color-text;

    &--container {
        position: relative;
        max-width: 80%;
        overflow: hidden;
        padding: 4rem;
        position: relative;
        margin: 0 auto;
    }

    &--header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--image {
        margin-top: 3rem;
        width: 50rem;
        height: 30rem;
        border-radius: .5rem;
        overflow: hidden;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &--title {
        width: 100%;
        padding: 1rem 3rem;
        text-align: center;
        text-transform: capitalize;

        &-title {
            font-size: 6rem;
            font-weight: 800;
            color: $color-secondary;
        }

        &-author {
            margin-top: 2rem;
            font-weight: 600;
            font-size: 1.3rem;
            color: $color-secondary;

            & span {
                color: $color-text;
                margin-left: 1rem;
                font-size: 2rem;
            }
        }
    }

    &--body {
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--summary {
        text-align: center;

        padding: 3rem;
        font-size: 2.4rem;

        & a,
        & b {
            text-transform: none;
            text-decoration: none;
            color: $color-secondary;
            font-weight: normal;
        }
    }

    &--stats {
        padding: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &-details {
            max-width: 50%;
            font-size: 2.4rem;

            & .text {
                font-weight: 400;
                display: flex;
                align-items: flex-start;
            }

            & .bold {
                margin-left: 3rem;
                font-weight: bold;
                display: flex;
            }
        }

        &-insights {
            max-width: 50%;
            padding: 1rem;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            background-color: $color-text;
            border: 2px solid $color-secondary;
            border-radius: .5rem;

            @media only screen and (max-width:$screen-tabletP) {
                display: none;
            }
        }
    }

    &--svg {
        width: 2.6rem;
        height: 2.6rem;

        &-coin {
            fill: #FFDF00;

            &:not(:first-child) {
                margin-left: -1rem;
            }
        }
    }
}


.tooltip-para {
    position: relative;
    display: inline-block;
    padding: .1rem 1.3rem;

    .tooltiptext {
        visibility: hidden;
        width: 12rem;
        background-color: $color-text;
        color: $color-teritary;
        font-size: 1.5rem;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -6rem;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $color-secondary transparent transparent transparent;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}