.recipe-container {
    height: 100%;
    background-color: rgba(#fff, .7);
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.recipe {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}