@import "../../variables.scss";

.results-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-image {
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 32rem;
        height: 23rem;
        // 312x231
    }

    &-details {
        width: 100%;
        padding: 1rem .2rem;
        opacity: 1;
        background-color: $color-primary;
        color: $color-text;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        transition: all .6s;
        height: 7rem;
    }
}