@import "../../variables.scss";

.body {
    grid-row: 2/3;
    grid-column: 1/-1;
    text-align: center;

    display: grid;
    grid-template-rows: auto auto;

    background: $color-primary;

    &-main {
        grid-row: 1/2;
        padding: 3rem 10vw;

        &--heading {
            font-size: 10rem;
            line-height: 15rem;
            color: $color-secondary;
            font-weight: 700;
            text-transform: lowercase;

            @media only screen and (max-width:$screen-tabletP) {
                font-size: 8rem;
            }

            @media only screen and (max-width:$screen-mobileL) {

                margin-bottom: 10rem;

                & span {
                    display: block;
                    line-height: 1;
                    font-size: 10rem;

                    &:nth-child(2) {
                        font-size: 8rem;
                    }
                }
            }
        }
    }
}