@import "../../variables.scss";

.recipe--ingredients {
    grid-column: 1/7;

    &-servings {
        height: 4rem;
        padding: 1rem;
        border-radius: 1rem;
        margin: 2rem;
        border-bottom: 1px solid $color-primary;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & p {
            font-size: 3rem;
            color: $color-primary;
        }

        &--controller {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &>p {
                font-size: 2rem;
                color: $color-teritary;
            }

            & svg {
                height: 2rem;
                width: 2rem;
                fill: $color-quaternary;
                margin: 0 1rem;
            }
        }

    }

    &-container {
        padding-right: 3rem;
        border-right: 2px solid $color-secondary;
        list-style: square inside;
    }

    &-ingredient {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;

        & span {
            font-size: 2rem;
            text-transform: capitalize;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &--quantity {
            width: 8rem;
        }

        &--unit {
            width: 12rem;
        }
    }
}

.recipe-subheading {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin: 4rem 0;
    color: $color-primary;
    text-decoration: underline $color-teritary;
}