@import "../../variables.scss";

.recipe--instructions {

    &-container {
        font-size: 2rem;
        padding-left: 2rem;
    }

    &-instruction {
        margin-bottom: 2rem;

        &>span {
            color: $color-secondary;
            font-size: 3rem;
            margin-right: 3rem;
            text-decoration: underline $color-text;
        }
    }
}