.results-container {
    grid-row: 2/-1;
    grid-column: 1/2;
    box-shadow: 0rem 0rem .5rem #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #195962;
}

.results {
    height: 90%;
    width: 100%;

    &-btns {
        padding: 1rem 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & button {
            padding: .5rem;
            font-size: 1.5rem;
            border-radius: 1rem;
            border: none;
            font-weight: 600;
            text-transform: uppercase;
            background-color: #F56F6C;
            transition: all .2s;

            &:focus {
                outline: none;
            }

            &:hover {
                transform: translateY(.1rem) scale(1.1);
                color: whitesmoke;
                background-color: #191C21;
                cursor: pointer;
            }
        }
    }
}