@import "../../variables.scss";

.footer-container {
    grid-row: 3/-1;
    grid-column: 1/-1;
    background-color: $color-primary;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.api {
    height: 85%;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    &-p {
        font-size: 1.6rem;
        color: $color-secondary;

        @media only screen and (max-width: $screen-mobileL) {
            font-size: 3rem;
        }
    }

    &-image {
        height: 60%;

        &>img {
            width: 4rem;
            margin: 0 1rem;

            @media only screen and (max-width: $screen-mobileL) {
                width: 4rem;
                margin: 0 2rem;
            }
        }
    }
}

.spoonacular {
    text-decoration: none;
    color: $color-teritary;
    font-weight: 600;
}