@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Nunito:wght@300;400;600;700;800;900&display=swap');

$font-primary: 'Josefin Sans',
sans-serif;
$font-secondary: 'Nunito',
sans-serif;
$color-white-main: #FFFFFF;
$color-navy-blue: #252932;
$color-black-main: #191C21;
$color-pink-dark: #F56F6C;
$color-blue-dark: #195962;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    font-family: $font-secondary;
}