// variables

// $color-primary: #000026;
// $color-secondary: #CEA716;
// $color-teritary: #2D3053;
// $color-text: #EEEDFF;

// $color-primary: #0b3861;
// $color-secondary: #bdbdbd;

// #845ec2



// $color-primary: #040404;
// $color-secondary: #2E4C61;
// $color-teritary: #13A0B1;
$color-text: #FAF8FF;

// #0b3861
// #bdbdbd


$color-primary: #040404;
$color-secondary:#FAF8FF;
$color-teritary:#13A0B1;
$color-quaternary:#2E4C61;
$color-grey:#bdbdbd;


$screen-fourk: 1920px;
$screen-desktop: 1440px;
$screen-tabletL: 1024px;
$screen-tabletP: 786px;
$screen-mobileL: 500px;
$screen-mobileM: 400px;
$screen-mobileS: 350px;