// variables

$color-primary: #000026;
$color-secondary: #CEA716;
$color-teritary: #2D3053;
$color-text: #EEEDFF;

$screen-fourk: 1920px;
$screen-desktop: 1440px;
$screen-tabletL: 1024px;
$screen-tabletP: 786px;
$screen-mobileL: 500px;
$screen-mobileM: 400px;
$screen-mobileS: 350px;