// variables
$color-text: #faf8ff;

$color-primary: #040404;
$color-secondary: #faf8ff;
$color-teritary: #13a0b1;
$color-quaternary: #2e4c61;
$color-grey: #bdbdbd;

$screen-fourk: 1920px;
$screen-desktop: 1440px;
$screen-tabletL: 1024px;
$screen-tabletP: 786px;
$screen-mobileL: 500px;
$screen-mobileM: 400px;
$screen-mobileS: 350px;
